package api

import (
  "net/http"

  "github.com/xlc-dev/nova/nova"
)


// RegisterRoutes registers all API endpoints to the router.
func RegisterRoutes(router *nova.Router) {
	router.GetFunc("/", func(ctx *nova.ResponseContext) error {
		return ctx.Text(http.StatusOK, "Welcome to {{.Name}} API")
	})
	// Add more route registrations here, or call feature-specific registration functions.
}
