package api

import "github.com/xlc-dev/nova/nova"

// RegisterUserRoutes registers user-related endpoints.
func RegisterUserRoutes(router *nova.Router) {
	// Example:
	// router.GetFunc("/users", UserListHandler)
	// router.PostFunc("/users", UserCreateHandler)
}
